@model IEnumerable<MVCLibraryManagementSystem.Models.AccessionRecord>

@{
    ViewBag.Title = "Index";
}
<h1>Accession Register</h1>

<!--<p>
    @Html.ActionLink("Create New" ,"Create")
    @Html.ActionLink("Index", "Create")
</p>-->
<div class="row">
    <div class="col-md-4">
        <div class="input-group">
            <input type="text" class="form-control" name="search" />
            <span class="input-group-btn">
                <button type="submit" class="btn btn-primary">GO</button>
            </span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Item Filter
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <ul>
                    <li><a class="dropdown-item" href="#">Books</a></li>
                    <li><a class="dropdown-item" href="#">Magazines</a></li>
                    <li><a class="dropdown-item" href="#">Newspapers</a></li>
                    <li><a class="dropdown-item" href="#">Question Papers</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<div class="container-fluid col-md-8 col-sm-6">
    <table class="table table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AccessionRecordId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfReceipt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Source)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AccessionRecordId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfReceipt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Source)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.AccessionRecordId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.AccessionRecordId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.AccessionRecordId })
                </td>
            </tr>
        }

    </table>
</div>
    
    <div align="right" class="container-fluid col-md-4 col-sm-6">
        <ul class="list-group">
            <li class="text-center list-group-item"><a href="/Books/Create">New Book</a></li>
            <li class="text-center list-group-item"><a href="">New Newspaper</a></li>
            <li class="text-center list-group-item"><a href="">Add New Question Papers</a></li>
            <li class="text-center list-group-item"><a href="">Add New Magazine</a></li>
            <li class="text-center list-group-item"><a href="">Issue Item</a></li>
            <li class="text-center list-group-item"><a href="">Reserve Item</a></li>
        </ul>
    </div>
<ul class="pagination">
    <li><a href="#">&laquo;</a></li>
    <li><a href="Books/Index?pagenumber=1">1</a></li>
    <li><a href="Books/Index?pagenumber=2">2</a></li>
    <li><a href="Books/Index?pagenumber=3">3</a></li>
    <li><a href="Books/Index?pagenumber=4">4</a></li>
    <li><a href="Books/Index?pagenumber=5">5</a></li>
    <li><a href="Books/Index?pagenumber=6">6</a></li>
    <li><a href="Books/Index?pagenumber=7">7</a></li>
    <li><a href="Books/Index?pagenumber=8">8</a></li>
    <li><a href="Books/Index?pagenumber=9">9</a></li>
    <li><a href="Books/Index?pagenumber=10">10</a></li>
    <li><a href="Books/Index?pagenumber=11">11</a></li>
    <li><a href="Books/Index?pagenumber=12">12</a></li>
    <li><a href="Books/Index?pagenumber=13">13</a></li>
    <li><a href="Books/Index?pagenumber=14">14</a></li>
    <li><a href="Books/Index?pagenumber=15">15</a></li>
    <li><a href="Books/Index?pagenumber=16">16</a></li>
    <li><a href="Books/Index?pagenumber=17">17</a></li>
    <li><a href="Books/Index?pagenumber=18">18</a></li>
    <li><a href="Books/Index?pagenumber=19">19</a></li>
    <li><a href="Books/Index?pagenumber=20">20</a></li>
    <li><a href="#">&raquo;</a></li>
</ul>