<!--@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
-->
@{
    ViewBag.Title = "Index";
}
<doctype html>
    <html>
    <head>
        <title>@ViewBag.Title - Dashboard</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container-fluid">
            <h1 class="text-center">Dashboard</h1>
            <!-- BEGIN ROW -->
            <div class="row">
                <div class="col-md-2 col-sm-2" style="width:15%"></div>
                <!--- BEGIN CARD -->
                <div class="col-md-4 col-sm-4 card">
                    <h1 class="card-header">
                        Accession Register
                    </h1>
                    <div class="text-center">
                        @Html.ActionLink("GO", "Index", "AccessionRecords", "/", new { @class = "btn btn-primary go-btn" })
                    </div>
                </div>
                <!-- END CARD -->
                <!--- BEGIN CARD -->
                <div class="col-md-4 col-sm-4 card">
                    <h1 class="card-header">
                        Books
                    </h1>
                    <div class="text-center">
                        @Html.ActionLink("GO", "Index", "Books", "/", new { @class = "btn btn-primary go-btn" })
                    </div>
                </div>
                <div class="col-md-2 col-sm-2"></div>
                <!-- END CARD -->

            </div>
            <!-- END ROW -->
            <!-- BEGIN ROW -->
            <div class="row">
                <div class="col-md-2 col-sm-2" style="width:15%"></div>
                <!--- BEGIN CARD -->
                <div class="col-md-4 col-sm-4 card">
                    <h1 class="card-header">
                        Issued Item
                    </h1>
                    <div class="text-center">
                        @Html.ActionLink("GO", "Index", "IssuedItems", "/", new { @class = "btn btn-primary go-btn" })
                    </div>
                </div>
                <!-- END CARD -->
                <!--- BEGIN CARD -->
                <div class="col-md-4 col-sm-4 card">
                    <h1 class="card-header">
                        Members
                    </h1>
                    <div class="text-center">
                        @Html.ActionLink("GO", "Index", "Members", "/", new { @class = "btn btn-primary go-btn" })
                    </div>
                </div>
                <!-- END CARD -->
                <div class="col-md-2 col-sm-2"></div>
            </div>
            <!-- END ROW -->
        </div>
    </body>
</html>
